/* colors */
$input_background_color: #eef3ff;
$input_error_background_color: #fdf1f1;
$primary_background_color: #fbfbfb;
$primary_color: #2c6bff;
$primary_text_color: #152c61;
$right_panel_color: #86a7f2;
$secondary_text_color: #cccccc;
$text_error_color: #e1554c;
$textarea_border: 1px solid #dce6ff;
$textarea_color: #f5f8ff;
$white: #ffffff;

/* normalize css */
*{
box-sizing: border-box;
font-family: "Poppins", sans-serif;
margin: 0px;
padding: 0px;
}
a{
    text-decoration: none;
}
body{
    align-self: center;
    background-color: $primary_background_color;
}
button{
    cursor: pointer;
}
@font-face {
    font-family: Poppins_light;
    src: url(./assets/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins_Regular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins_medium;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins_semiBold;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}